@font-face {
  font-family: "Eina03";
  src: url("./font/Eina03-SemiBold.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "./reset.scss";

$einaBold: "Eina03";
$openSans: "Open Sans", "sans-serif";

$lightBlack: "#001a25";
$lightBlue: "#11ABEC";
$lightBlueBg: "#F1F7FC";
$lightGray: "#636970";
$borderGray: "#DCE4ED";

body {
  width: 100%;
  height: 100%;
  font-family: $openSans;
  background: #f3f5f8;
  color: #{$lightBlack};
  font-size: 14px;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.maxWidth {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

header {
  background: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  & h4 {
    font-size: 22px;
    line-height: 120%;
    font-family: $einaBold;
  }

  & .btnContainer {
    margin-left: 20px;
    display: flex;

    & button:first-child {
      margin-right: 8px;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex: 1;
}

footer {
  width: 100%;
  background: #fff;
  height: 60px;
  padding: 12px 10%;
  position: sticky;
  bottom: 0;

  & .maxWidth {
    justify-content: flex-end;
  }

  & button {
    width: auto;
    height: 35px;
    color: #fff;
    background: #{$lightBlue};
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 4px;
    font-weight: 700;
  }
}

.btn {
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  background: transparent;
  border: none;
  font-family: $openSans;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    margin-right: 8px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeBtn {
  color: #{$lightBlue};
  background: #{$lightBlueBg};
}

.categoriesContainer {
  background: #fff;
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.categoryCard {
  height: 115px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #{$borderGray};
  border-bottom: none;
  overflow: hidden;

  &:nth-child(even) {
    border-left: none;
  }

  & h6 {
    font-family: $einaBold;
    font-size: 14px;
    line-height: 120%;
  }

  & p {
    color: #{$lightGray};
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  & .tag {
    display: flex;
    margin-bottom: 10px;
  }

  & .tag span {
    width: auto;
    height: 20px;
    font-size: 12px;
    padding: 0 12px;
    border-radius: 999px;
    display: flex;
    align-items: center;
  }
}
